body {
    background: url("https://media-hosting.imagekit.io//cf5f14b045ec45cc/Screenshot%202025-02-20%20200334%20(1).jpg?Expires=1835034223&Key-Pair-Id=K2ZIVPTIP2VGHC&Signature=XxMG4KCIoXpCiJ8jAiNRK-tzdksE3CVaQFKq60CS51xzSh0c5antHx20hI4zI1sO9Ua20KpbdPBBQ4Pqvo0XJ9X2rQ2-ZS--ZLP73Wf1FyOdbP6ue0~swya~56It0xG4wO86k7fTU0kgNmVR61W-OcD0lcrni3g0Jx6vSooQ6iRXKySStL6meHqeHW167oumi9MIMziZQvbhY4Du5FyPix~tFvxIlzSB5HZXpSjHoFNqHYkglK21HhSurRmNbuuyKEEmoK~tX1nbkVhPh8Rv6s1O9JoxaoXLy6iCYUNqxKSxQPTi0UWZfCzliP8XbtMkoA53dzQJcXsSIH4i~yeZWg__");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}