body {
    background: url("https://chems.gg/t49-oni/shot_0.jpg");
    background-color: #cccccc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}